[submodule "bunble/nerdtree"]
	path = bunble/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/conque-term"]
	path = bundle/conque-term
	url = https://github.com/rosenfeld/conque-term.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/fonts"]
	path = bundle/fonts
	url = https://github.com/powerline/fonts.git
[submodule "bundle/vim-sleuth"]
	path = bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "bundle/vim-searchindex"]
	path = bundle/vim-searchindex
	url = https://github.com/google/vim-searchindex.git
[submodule "bundle/vim-mark"]
	path = bundle/vim-mark
	url = https://github.com/dimasg/vim-mark.git
